*{
    margin: 0px;
    padding:0;
  }


  .home_body{
  
    font-family: 'Libre Baskerville', serif;  
    font-size: 15px;
    position:relative;
    
    overflow: hidden;
    background:linear-gradient(rgba(0, 0, 0, 0.075),rgba(0, 0, 0, 0.164)), url("bathtub.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*combines background*/
    height:100vh
  }

  .home_body::after{

    content: "";
    background: url('bathtub.jpg') left top no-repeat, url('bathtub.jpg') right bottom no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.home_header{
color:white;
font-family: 'Lato', sans-serif;
margin-left: 455px;
margin-top: 100px;
}

.home_title{

font-size: 50px;

}

.home_subtitle{
    margin-left:175px

}

  
  